html,
body,
.root {
	height: 100%;
}
body {
	line-height: 1.5;
}
body,
.app {
	background: white;
}

/* main page */

.list-books-title {
	padding: 10px 0;
	background: #2e7c31;
	text-align: center;
}
.list-books-title h1 {
	font-weight: 400;
	margin: 0;
	color: white;
}

.list-books-content {
	padding: 0 0 80px;
	flex: 1;
}

.bookshelf {
	padding: 0 10px 20px;
}

@media (min-width: 600px) {
	.bookshelf {
		padding: 0 20px 25px;
	}
}

.bookshelf-title {
	border-bottom: 1px solid #dedede;
}

.bookshelf-status {
	margin-top: 50px;
	font-weight: initial;
	font-size: 1.1em;
	color: #b3b3b3;
}

.bookshelf-books {
	text-align: center;
}

.open-search {
	position: fixed;
	right: 25px;
	bottom: 25px;
}
.open-search a {
	display: block;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: #2e7d32;
	background-image: url('./icons/add.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 28px;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	font-size: 0;
}

/* search page */

.search-books-bar {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 5;
	display: flex;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 0 6px rgba(0, 0, 0, 0.23);
}
.search-books-input-wrapper {
	flex: 1;
	background: #e9e;
}
.search-books-bar input {
	width: 100%;
	padding: 15px 10px;
	font-size: 1.25em;
	border: none;
	outline: none;
}

.close-search {
	display: block;
	top: 20px;
	left: 15px;
	width: 50px;
	height: 53px;
	background: white;
	background-image: url('./icons/arrow-back.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 28px;
	font-size: 0;
}

.search-books-results {
	padding: 80px 10px 20px;
}

/* books grid */

.books-grid {
	list-style-type: none;
	padding: 0;
	margin: 0;

	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.books-grid li {
	padding: 10px 15px;
	text-align: left;
}

.book {
	width: 140px;
}
.book-title,
.book-authors {
	font-size: 0.8em;
}
.book-title {
	margin-top: 10px;
}
.book-authors {
	color: #999;
}

.book-top {
	position: relative;
	height: 200px;
	display: flex;
	align-items: flex-end;
}

.book-shelf-changer {
	position: absolute;
	right: 0;
	bottom: -10px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: #60ac5d;
	background-image: url('./icons/arrow-drop-down.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 20px;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.book-shelf-changer select {
	width: 100%;
	height: 100%;
	opacity: 0;
	cursor: pointer;
}

.book-shelf-changer.loading {
	pointer-events: none;
	background-image: none;
}

.book-shelf-changer-loader {
	color: #ffffff;
	font-size: 3px;
	position: absolute;
	margin: auto;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	width: 1em;
	height: 1em;
	border-radius: 50%;
	text-indent: -9999em;
	-webkit-animation: load4 1.3s infinite linear;
	animation: load4 1.3s infinite linear;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
}

/* book cover */

.book-cover {
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	background: #eee;
}
.book-cover-title {
	padding: 20px 10px 0;
	text-align: center;
	font-size: 0.8em;
}

/* loader */

.loader,
.loader:before,
.loader:after {
	background: #18af82;
	-webkit-animation: load1 1s infinite ease-in-out;
	animation: load1 1s infinite ease-in-out;
	width: 1em;
	height: 4em;
}
.loader {
	color: #18af82;
	text-indent: -9999em;
	margin: 88px auto;
	position: relative;
	font-size: 10px;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}
.loader:before,
.loader:after {
	position: absolute;
	top: 0;
	content: '';
}
.loader:before {
	left: -1.5em;
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}
.loader:after {
	left: 1.5em;
}

/* loader animation */

@-webkit-keyframes load4 {
	0%,
	100% {
		box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em,
			-2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
	}
	12.5% {
		box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em,
			-3em 0 0 -1em, -2em -2em 0 -1em;
	}
	25% {
		box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em,
			-3em 0 0 -1em, -2em -2em 0 -1em;
	}
	37.5% {
		box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em,
			-3em 0em 0 -1em, -2em -2em 0 -1em;
	}
	50% {
		box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0,
			-3em 0em 0 -1em, -2em -2em 0 -1em;
	}
	62.5% {
		box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em,
			-3em 0 0 0, -2em -2em 0 -1em;
	}
	75% {
		box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em,
			-2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
	}
	87.5% {
		box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0,
			-3em 0em 0 0, -2em -2em 0 0.2em;
	}
}
@keyframes load4 {
	0%,
	100% {
		box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em,
			-2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
	}
	12.5% {
		box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em,
			-3em 0 0 -1em, -2em -2em 0 -1em;
	}
	25% {
		box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em,
			-3em 0 0 -1em, -2em -2em 0 -1em;
	}
	37.5% {
		box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em,
			-3em 0em 0 -1em, -2em -2em 0 -1em;
	}
	50% {
		box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0,
			-3em 0em 0 -1em, -2em -2em 0 -1em;
	}
	62.5% {
		box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em,
			-3em 0 0 0, -2em -2em 0 -1em;
	}
	75% {
		box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em,
			-2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
	}
	87.5% {
		box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0,
			-3em 0em 0 0, -2em -2em 0 0.2em;
	}
}

@-webkit-keyframes load1 {
	0%,
	80%,
	100% {
		box-shadow: 0 0;
		height: 4em;
	}
	40% {
		box-shadow: 0 -2em;
		height: 5em;
	}
}

@keyframes load1 {
	0%,
	80%,
	100% {
		box-shadow: 0 0;
		height: 4em;
	}
	40% {
		box-shadow: 0 -2em;
		height: 5em;
	}
}
